@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  background: #303340;
  color: #fff;
  font-family: 'Montserrat';
  margin: 10px;
  font-size: 14px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

.subtext {
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

img {
  width: 20px;
}

h1 {
  margin: 0 0 20px 0;
}

button {
  float: right;
  background: #188986;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  width: 140px;
  margin: 0 0 5px 0;
}

button:disabled {
  background: #B8C7D6;
  color: grey;
}

hr {
  display: block;
  margin: 5px auto 5px auto;
  border-style: inset;
  border-width: 1px;
  border: 0.5px solid white;
}
