@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  background: #303340;
  color: #fff;
  font-family: 'Montserrat';
  margin: 10px;
  font-size: 14px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
  width: 525px;
}

.right {
  float: right;
  width: 155px;
}

h1 {
  margin: 0 0 20px 0;
}

button {
  float: right;
  background: #188986;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  width: 140px;
}

button:disabled {
  background: #B8C7D6;
  color: grey;
}

input {
  height: 26px;
  width: 100%;
}

hr {
  display: block;
  margin: 10px auto 10px auto;
  border-style: inset;
  border-width: 1px;
  border: 0.5px solid white;
}
